<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyg.login">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="U-Help"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".AddaddrActivity" />
        <activity android:name=".GetActivity" />
        <activity android:name=".ShareActivity" />
        <activity android:name=".HelpGetActivity" />
        <activity android:name=".FindGetActivity" />
        <activity android:name=".HelpandReflectActivity" />
        <activity android:name=".ExitActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".HistoryDetailActivity"></activity>
    </application>

</manifest>